<form
  [formGroup]="addTaskForm"
  (ngSubmit)="addTask()"
  class="form"
  action="">
  <div class="content-wrapper">
    <input
      placeholder="Put task text"
      formControlName="task"
      type="text">
    <div
      *ngIf="addTaskForm.get('task')!.errors && addTaskForm.touched"
      class="error">Area can`t be empty</div>
    <ng-select
      formControlName="priority"
      [items]="priority"
      [searchable]="false"
      placeholder="Choose priority"
    ></ng-select>
    <div
      *ngIf="addTaskForm.get('priority')!.errors && addTaskForm.touched"
      class="error">Please, select priority!</div>
    <button
      type="submit"
      class="btn btn-primary">Add Task</button>
  </div>
</form>
