.form {
  width: 500px;
  margin: auto;
  margin-top: 20px;
}
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  width: 400px;
  height: 38px;
  border-radius: 5px;
}
